@tailwind base;
@tailwind components;
@tailwind utilities;

.advent-font {
    font-family: 'Advent Pro', sans-serif;
}

.poppins-font{
    font-family: 'Poppins', sans-serif;
}

.text-shadow-xs {
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.25);
}


/* .scroll-content {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
 */

 .scroll-container {
    overflow-x: hidden; /* Hide overflow */
    position: relative; /* Position relative for absolute positioning */
}

.scroll-content {
    display: flex;
    animation: scrollAnimation 20s linear infinite; /* Adjust animation duration and timing function as needed */
}

@keyframes scrollAnimation {
    0% { transform: translateX(0); } /* Start position */
    100% { transform: translateX(-100%); } /* End position */
}
