@tailwind base;
@tailwind components;
@tailwind utilities;

.advent-font {
    font-family: 'Advent Pro', sans-serif;
}

.poppins-font{
    font-family: 'Poppins', sans-serif;
}

.text-shadow-xs {
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.25);
}

/* styles.css */
.image {
    height: 42px; /* Adjust the height as needed */
    width: 42px; /* Adjust the width as needed */
    margin-right: 10px; /* Add some margin between images */
    flex-shrink: 0; /* Prevent images from shrinking */
}

.scroll-content {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* Make the container a flex container */
}

